{
  "trailingComma": "all",
  "bracketSpacing": true,
  "semi": false,
  "plugins": ["prettier-plugin-organize-imports"],
  "overrides": [
    {
      "files": "*.ts",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
