{
  "branches": [
    {
      "name": "main",
      "channel": "latest"
    }
  ],
  "debug": true,
  "tagFormat": "@appwarden/middleware@${version}",
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "releaseRules": [
          {
            "type": "patch",
            "release": "patch"
          },
          {
            "type": "minor",
            "release": "minor"
          },
          {
            "type": "major",
            "release": "major"
          }
        ]
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogTitle": "# Changelog\n\nAll notable changes to this project will be documented in this file. See\n[Conventional Commits](https://conventionalcommits.org) for commit guidelines."
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "provenance": true,
        "pkgRoot": "build",
        "tarballDir": "dist"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "node scripts/prepare-github-package.cjs",
        "publishCmd": "npm publish --userconfig .npmrc --tag ${nextRelease.channel} --registry https://npm.pkg.github.com/ --no-git-tag-version --access public --provenance"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {
            "path": "dist/*.tgz",
            "label": "npm package"
          }
        ]
      }
    ],
    [
      "@semantic-release/exec",
      {
        "successCmd": "node scripts/create-version-pr.cjs ${nextRelease.version}"
      }
    ]
  ]
}
